@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Category";
    @model SaaSEqt.eShop.WebMVCBackend.ViewModels.CatalogViewModels.IndexViewModel
}

<div class="container">
    @if (Model.ServiceCategories.Count() > 0)
    {
       
    <div class="esh-catalog-items row">
        @foreach (var catalogItem in Model.ServiceCategories)
    {
        <div class="esh-catalog-item col-md-4">
            @catalogItem.Name
        </div>
    }
    </div>

    }
    else
    {
        <div class="esh-catalog-items row">
            THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
        </div>
    }
</div>